:host {
    display: block;
    background-color: var(--cream-beige);
    min-height: 100vh;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #A8B9A3;
    border-radius: 10px;
}